.results_section:only-child {
  width: 100%;
}

.results_section {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 4rem;
  width: 70%;
  padding: 2rem 4rem 2rem 2rem;
  font-family: Kreadon;
  transition: 0.5s;
}
