.results_section:only-child {
  width: 100%;
}

.results_section {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 3rem;
  width: 70%;
  padding: 2rem 4rem 2rem 2rem;
  font-family: Kreadon;
  transition: 0.5s;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 31%;
  padding: 2.5rem 1.5rem;
  color: #ffffff;
  border-radius: 1rem;
  background: #000000;
  background: radial-gradient(circle, #111111 30%, rgb(36, 36, 36) 90%);
  box-shadow: 0 0 1rem 0.1rem #040404;
  transition: 0.26s cubic-bezier(0.175, 0.885, 0.45, 1.475);
  cursor: pointer;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 3rem 0.1rem var(--accent-color);
}

.item_title {
  transition: 0.2s;
}

.item:hover .item_title {
  text-shadow: 0 0 2rem var(--accent-color);
}

.item_prop,
.item_title {
  pointer-events: none;
  text-align: center;
}

.item_title {
  color: var(--accent-color);
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

.item_prop {
  font-size: 2rem;
  letter-spacing: 0;
}

.text {
  font-size: 3rem;
  font-family: Kreadon;
  color: #ffffff;
}
