.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  visibility: hidden;
  width: 0;
  opacity: 0;
  font-family: Kreadon;
  color: #ffffff;
  font-size: 2rem;
}

.active {
  animation: wrapper-appear 0.5s forwards;
}

@keyframes wrapper-appear {
  from {
    width: 0;
  }
  to {
    width: 30%;
    opacity: 1;
    visibility: visible;
  }
}
