.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
  width: 30%;
  height: 50%;
  overflow: auto;
  margin: auto;
  padding: 2rem 2rem 2rem 3rem;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    var(--accent-color-dark) 0%,
    var(--accent-color-dark) 15.9%,
    var(--accent-color-transparent) 15.9%,
    var(--accent-color-transparent) 24.4%,
    rgb(48, 48, 48) 24.5%,
    rgb(32, 32, 32) 66%
  );
  border-radius: 2rem;
  box-shadow: 0 0 2rem 0.1rem #000000b6;
  font-family: Kreadon;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  transform: translateX(100%);
  transform-origin: right;
  animation: wrapper-appear 0.5s forwards;
}

.close_handler {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
}

.title {
  color: var(--accent-color);
  font-weight: bold;
  letter-spacing: 0.5rem;
}

@keyframes wrapper-appear {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
