.search_section {
  width: 100%;
}

.search_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.label {
  position: relative;
}

.input {
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-size: 2.5rem;
  border: none;
  outline: none;
  color: #ffffff;
  border-bottom: 0.2rem solid #808080;
  font-family: Kreadon;
  transition: 0.3s;
}

.validation_error {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  color: #ff0000;
  font-size: 1.5rem;
  font-family: Kreadon;
}

.btn {
  position: relative;
  padding: 0.6rem 2rem;
  border: none;
  border-top: 0.1rem solid #787878;
  outline: none;
  color: #ffffff;
  border-radius: 2rem;
  background-color: rgba(56, 56, 56, 0.877);
  font-size: 2.5rem;
  font-family: Kreadon;
  transition: 0.3s;
  cursor: pointer;
}

.btn::before {
  content: '';
  position: absolute;
  opacity: 0;
  bottom: 70%;
  left: 0;
  right: 0;
  width: 80%;
  height: 40%;
  margin: 0 auto;
  border-radius: 2rem;
  background-color: var(--accent-color);
  z-index: -1;
  filter: blur(2rem);
  transform: scale(0);
  transition: 0.3s;
}

.btn:hover {
  color: var(--accent-color);
}

.btn:hover::before {
  opacity: 1;
  transform: scale(1);
}
