.input {
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-size: 2.5rem;
  border: none;
  outline: none;
  color: #ffffff;
  border-bottom: 0.2rem solid #808080;
  font-family: Kreadon;
  transition: 0.3s;
}
