.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  width: 100%;
  padding: 0 3rem;
}

.input {
  border-color: #ff0000;
}

.btn {
  --accent-color: #ff0000;
}
