.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  margin: -1.5rem 0;
}

.input {
  border-color: #ff0000;
}

.btn {
  --accent-color: #ff0000;
}
