/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Home/Home.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Home_app__bkYpS {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  min-height: 100dvh;
  margin: 0 auto;
  padding-bottom: 8.5rem;
  --color: rgba(114, 114, 114, 0.041);
  background-color: #191a1a;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 10rem 10rem;
}

.Home_app__bkYpS.Home_light__dy1AO {
  --color: rgba(55, 52, 52, 0.041);
  background-color: #ffffff;
}

.Home_wrapper__Lo0UO {
  display: flex;
  align-items: center;
  min-height: 50dvh;
  width: 100%;
}

.Home_text__QL5pD {
  font-size: 2rem;
  font-family: Kreadon;
  color: #ffffff;
}

.Home_light__dy1AO > .Home_text__QL5pD {
  color: #000000;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/ThemeSwitch/ThemeSwitch.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.ThemeSwitch_absolute_wrapper__9h0Ll {
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 8rem;
  height: 4rem;
  padding: 0.5rem;
  background-color: rgb(70, 70, 70);
  border-radius: 2rem;
  box-shadow: inset 0 0 1rem 0 #171717;
  transition: 0.3s;
  cursor: pointer;
}

.ThemeSwitch_absolute_wrapper__9h0Ll:hover {
  box-shadow:
    inset 0 0 1rem 0 #171717,
    0 0 1rem 0 var(--accent-color);
}

.ThemeSwitch_absolute_wrapper__9h0Ll:has(.ThemeSwitch_light__LtwkJ) {
  background-color: rgb(230, 230, 230);
  box-shadow: inset 0 0 1.5rem 0 #8c8c8c;
}

.ThemeSwitch_absolute_wrapper__9h0Ll:has(.ThemeSwitch_light__LtwkJ):hover {
  box-shadow:
    inset 0 0 1rem 0 #8c8c8c,
    0 0 1.5rem 0 var(--accent-color);
}

.ThemeSwitch_relative_wrapper__l2bIi {
  position: relative;
  width: 100%;
  height: 100%;
}

.ThemeSwitch_switch__iYFHc {
  position: absolute;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: 0.3s;
}

.ThemeSwitch_switch__iYFHc.ThemeSwitch_light__LtwkJ {
  background-color: rgb(50, 50, 50);
  left: calc(100% - 3rem);
}

.ThemeSwitch_theme_icon__li5Vc {
  height: auto;
  position: absolute;
  opacity: 0;
}

.ThemeSwitch_dark__gyEqD > .ThemeSwitch_theme_icon__li5Vc[alt='moon'] {
  opacity: 1;
  animation: ThemeSwitch_appear-left__v22_5 0.3s forwards;
}

.ThemeSwitch_light__LtwkJ > .ThemeSwitch_theme_icon__li5Vc[alt='sun'] {
  opacity: 1;
  animation: ThemeSwitch_appear-right__c8fwN 0.3s forwards;
}

@keyframes ThemeSwitch_appear-left__v22_5 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes ThemeSwitch_appear-right__c8fwN {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Search/Search.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Search_search_section__a0yWC {
  position: relative;
  width: 100%;
  transition: 0.3s;
}

.Search_search_form__AgFrB {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  padding: 3rem 0 0 3rem;
}

.Search_label__9NSXN {
  position: relative;
}

.Search_validation_error__hflBp {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  color: #ff0000;
  font-size: 1.5rem;
  font-family: Kreadon;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Input/Input.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Input_input__cDdvD {
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-size: 2.5rem;
  border: none;
  outline: none;
  color: #ffffff;
  border-bottom: 0.2rem solid #808080;
  font-family: Kreadon;
  transition: 0.3s;
}

.Input_input__cDdvD.Input_light__Zmky_ {
  color: #000000;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Button/Button.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Button_btn__b1BQa {
  position: relative;
  padding: 0.6rem 2rem;
  border: none;
  border-top: 0.2rem solid #787878;
  outline: none;
  color: #ffffff;
  border-radius: 2rem;
  background-color: rgba(56, 56, 56, 0.877);
  font-size: 2.5rem;
  font-family: Kreadon;
  box-shadow: 0 0rem 1rem 0.1rem #090909;
  transition: 0.3s;
  cursor: pointer;
}

.Button_btn__b1BQa.Button_light__ziWeh {
  box-shadow: 0 0rem 1rem 0.1rem #7c7c7c;
}

.Button_btn__b1BQa:hover {
  box-shadow:
    0 0rem 1rem 0.1rem #090909,
    0 0 3rem 0 var(--accent-color);
  color: var(--accent-color);
}

.Button_btn__b1BQa.Button_light__ziWeh:hover {
  box-shadow:
    0 0rem 1rem 0.1rem #7c7c7c,
    0 0 3rem 0 var(--accent-color);
}

.Button_btn__b1BQa:hover::before {
  opacity: 1;
  transform: scale(1);
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Pagination/Pagination.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.Pagination_wrapper__PAfFG {
  display: flex;
  gap: 10rem;
}

.Pagination_btn__OtcLd {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  padding: 3rem;
  border: none;
  outline: none;
  color: var(--accent-color);
  border-radius: 50%;
  font-family: Kreadon;
  font-size: 4rem;
  transition: 0.3s;
}

.Pagination_active__xC1TQ {
  pointer-events: all;
  opacity: 1;
  cursor: pointer;
}

.Pagination_btn__OtcLd.Pagination_active__xC1TQ:hover {
  box-shadow:
    inset 0 0 1.5rem 0.1rem var(--accent-color),
    0 0 2.5rem 0.1rem var(--accent-color);
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Results/Results.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Results_results_section__aZ9g2:only-child {
  width: 100%;
}

.Results_results_section__aZ9g2 {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 4rem;
  width: 70%;
  padding: 0 4rem 3rem 2rem;
  font-family: Kreadon;
  transition: 0.5s;
}

.Results_text__f2NbN {
  margin: 0 auto;
  font-size: 3rem;
  font-family: Kreadon;
  color: #ffffff;
}

.Results_light__ndmEm {
  color: #000000;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Results/Item/Item.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Item_item__Db_E0 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 31%;
  max-width: 50rem;
  padding: 4.8rem 1.5rem 2.5rem 1.5rem;
  color: #ffffff;
  text-decoration: none;
  border-radius: 1rem;
  box-shadow:
    inset 0 0 0 0 #040404,
    0 0 2rem 0.5rem #040404;
  background: #000000;
  background: radial-gradient(circle, #111111 30%, rgb(36, 36, 36) 90%);
  transition: 0.45s;
  cursor: pointer;
}

.Item_item__Db_E0.Item_light__WDoEd {
  background: #ffffff;
  background: radial-gradient(circle, #ffffff 30%, rgb(185, 185, 185) 90%);
}

.Item_item__Db_E0:hover {
  box-shadow: inset 0 0 1rem 0 #000000;
}

.Item_item__Db_E0:has(:checked) {
  box-shadow:
    inset 0 0 0 0 #040404,
    0 0 2rem 0.5rem var(--accent-color);
}

.Item_item_title__qjS_K {
  transition: 0.2s;
}

.Item_item__Db_E0:hover .Item_item_title__qjS_K {
  text-shadow: 0 0 2rem var(--accent-color);
}

.Item_item_prop__kbhrx,
.Item_item_title__qjS_K {
  pointer-events: none;
  text-align: center;
}

.Item_item_title__qjS_K {
  color: var(--accent-color);
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

.Item_item_prop__kbhrx {
  font-size: 2rem;
  letter-spacing: 0;
}

.Item_text__NETVl {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  font-family: Kreadon;
  color: #ffffff;
}

.Item_light__WDoEd > .Item_item_prop__kbhrx {
  color: #000000;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Results/Item/SelectCheckbox/SelectCheckbox.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************/
.SelectCheckbox_absolute_wrapper__ybckU {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.SelectCheckbox_relative_wrapper__qDo6d {
  position: relative;
  width: 3rem;
  height: 3rem;
  outline: 0.2rem solid #ffffff;
  padding: 0.2rem;
  border-radius: 0.6rem;
}

.SelectCheckbox_relative_wrapper__qDo6d.SelectCheckbox_light__MJ3tK {
  outline-color: #000000;
}

.SelectCheckbox_checkbox__SfZ2a {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.SelectCheckbox_filling__HwdLq {
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
  transform: scale(0);
  background-color: #ffffff;
  transition: 0.2s;
}

.SelectCheckbox_light__MJ3tK .SelectCheckbox_filling__HwdLq {
  background-color: #000000;
}

.SelectCheckbox_checkbox__SfZ2a:checked ~ .SelectCheckbox_filling__HwdLq {
  opacity: 1;
  transform: none;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Details/Details.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Details_wrapper__JeiyL {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
  width: 30%;
  height: 50%;
  overflow: auto;
  margin: auto;
  padding: 2rem 2rem 2rem 3rem;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    var(--accent-color-dark) 0%,
    var(--accent-color-dark) 15.9%,
    var(--accent-color-transparent) 15.9%,
    var(--accent-color-transparent) 24.4%,
    rgb(48, 48, 48) 24.5%,
    rgb(32, 32, 32) 66%
  );
  border-radius: 2rem;
  box-shadow: 0 0 2rem 0.1rem #000000b6;
  font-family: Kreadon;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  transform: translateX(100%);
  transform-origin: right;
  animation: Details_wrapper-appear__m7PRV 0.5s forwards;
}

.Details_wrapper__JeiyL.Details_light__VqolG {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    var(--accent-color-dark) 0%,
    var(--accent-color-dark) 15.9%,
    var(--accent-color-transparent) 15.9%,
    var(--accent-color-transparent) 24.4%,
    rgb(225, 225, 225) 24.5%,
    rgb(235, 235, 235) 66%
  );
}

.Details_close_handler___BG7_ {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
}

.Details_title__tKesN {
  color: var(--accent-color);
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.Details_light__VqolG > .Details_text__Syghk {
  color: #000000;
}

@keyframes Details_wrapper-appear__m7PRV {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Loader/Loader.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Loader_loader_wrapper__QZI34 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Loader_loader__gANhr {
  width: 10vw;
  height: auto;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/SelectedItemsFlyout/SelectedItemsFlyout.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.SelectedItemsFlyout_wrapper__UwMwr {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2rem;
  background-color: rgba(16, 16, 16, 0.6);
  border-top: 0.1rem solid #ffffff;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  font-family: Kreadon;
  transform: translateY(100%);
}

.SelectedItemsFlyout_visible__sIROX {
  transition: 0.3s;
  transform: none;
}

.SelectedItemsFlyout_text__y_PlU {
  font-size: 3rem;
  color: #ffffff;
}

.SelectedItemsFlyout_accent__Ciy4D {
  color: var(--accent-color);
}

.SelectedItemsFlyout_btn__dLzxB {
  padding: 0;
}

.SelectedItemsFlyout_download_link__HDVPm {
  padding: 0.6rem 2rem;
  color: #ffffff;
  text-decoration: none;
}

