@font-face {
  font-family: Kreadon;
  src: url('./assets/fonts/KreadonLightest.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

:root {
  --accent-color: rgb(76, 168, 255);
  --accent-color-dark: rgb(30, 75, 118);
  --accent-color-transparent: rgba(33, 83, 130, 0.4);
}

body {
  --color: rgba(114, 114, 114, 0.041);
  background-color: #191a1a;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 10rem 10rem;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  width: 100%;
  max-width: 1440px;
  min-height: 100dvh;
  margin: 0 auto;
}
